.navbar {
  display: flex;
  align-items: center;
  min-height: 5.6rem;
  padding: 0 var(--spacing-2);
}

.navbar__brand {
  flex: 1;
  color: var(--text-primary-default);
  font-size: 20px;
  font-weight: 400;
}

.navbar__username {
  color: var(--text-primary-muted);
}

.navbar__signout {
  color: var(--text-primary-muted);
  margin-left: var(--spacing-1);
  cursor: pointer;
}

.navbar__signout:hover {
  color: var(--neutral-100);
}
